{% extends "base.html" %}

{% block content %}

   <!-- Jumbotron Section -->
   <div class="jumbotron">
    <div class="jumbotron-mask"></div>
    <div class="container jumbotron-content">
      <h3 class="display-5">The Candle Sanctuary - Premium Candles</h3>
      <p class="lead">Discover a variety of scented candles and create a cozy atmosphere in your home.</p>
      <a class="btn btn-lg mt-4" href="{% url 'shop_all' %}" role="button">Shop Now</a>
    </div>
  </div>

  <!-- Text Section -->
  <div class="container mt-5 p-5">
    <p class="text-center">The Candle Sanctuary is an online marketplace where you can find the best selection of scented candles sourced from around the globe. We have handpicked each and every brand on our site – we appreciate quality products produced by artisans; and we know that you do, too. We are your go-to, one-stop shop – whether you’re looking for the perfect gift or just looking to treat yourself.</p>
    <p class="text-center">Quite simply, we love candles. A candle is special. No matter how advanced our world becomes, nothing will replace it. The feeling of calm and comfort that comes with lighting a wick and letting the aroma unfold around you; becoming entranced by the flicker of the flame – that can never be replicated.</p>
  </div>
  


  <div class="container">
    <h4 class="text-center">A FEW OF OUR FAVOURITE THINGS</h4>
  </div>
  
  <!-- Image Grid with Descriptions, Prices, and Hover Zoom Effect -->
  <div class="container pt-5">
  <div class="row">
    {% for product in featured_products %}
    
    <div class="col-md-4 mb-4">
      <div class="card">
        <a href="#">
        <div class="zoom-effect">
          <img src="{{ product.image1.url }}" class="card-img-top" alt="Product 1">
        </div>
        <div class="card-body text-center">
          <h6 class="card-title">{{ product.name }}</h6>
          <p class="card-text">${{ product.price }}</p>
        </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

  
   <!-- Text Section -->   
   <div class="container-fluid mt-5 p-5 pink">
    <p class="text-center">Reviews will go here.</p>
    <p class="text-center">.....</p>
  </div>
  
  <div class="container mt-5">
    <h4 class="text-center">Follow us on instagram @mycandlesanctuary</h4>
  </div>
  
  <div class="container">
    <div class="row mt-2">     
        <div class="col image-container">
          <img src="/static/images/insta1.webp" alt="Image 1">
        </div>
        <div class="col image-container">
          <img src="/static/images/insta2.jpg" alt="Image 2">
        </div>
        <div class="col image-container">
          <img src="/static/images/insta3.jpg" alt="Image 3">
        </div>
        <div class="col image-container">
          <img src="/static/images/insta4.jpg" alt="Image 4">
        </div>
        <div class="col image-container">
          <img src="/static/images/insta5.jpg" alt="Image 4">
        </div>
    </div>
  </div>

  <hr>
  {% endblock %}