{% extends "base.html" %}

{% block content %}

<div class="candlecare_container">
    <h3>CANDLE CARE</h3>
    <div class="candlecare_img">
        <img src="../../static/images/candlecare.webp" class="img-fluid" alt="Your Image" width="50%">
    </div>
    <div class="candlecare_text">
        <p>Our candles are hand-poured by humans and made with love in Australia <br> We use 100% non toxic soy wax with natural lead-free cotton wicks <br> Vegan friendly and not tested on animals <br> <b>care:</b> <br>For the first use of your candle please ensure you let the wax melt all the way to the edge of the vessel to get an even melt and to imprint the candle memory. This may take about 2 hours or more. Never burn the candle for more than 4 hours at a time. <br> Never leave unattended and keep away from children and pets. Place candles on a heat resistant surface. <br>Keep the wick trimmed to ¼ inch to ensure your candles burns gently. <br> Stop burning your candle when 1cm of wax remains at the bottom of the glass. <br> <br> <br> <b><u>Please reuse your vessel and send us pictures! We love to see how creative you are.</u></b></p><br><br><br>
    </div>
</div>

{% endblock %}