{% extends "base.html" %}

{% block content %}

<div class="customcandle_container">
    <h3>CUSTOM CANDLES</h3>
    <div class="customcandle_img">
        <img src="/static/images/customcandles.avif" class="img-fluid" alt="Your Image" width="50%">
    </div>
    <div class="customcandle_text">
        <p>We love making custom candles and we specialize in producing custom candles for events, retail stores, corporate gifts, companies, day spas, hotels, brands, and fashion labels.</p>
        <p>The entire process is customized to get the perfect candles to suit your needs. We work with you each step of the way! The Candle Library has a strong focus on using premium products that are eco-friendly. All of our candles are made using 100% eco Soy Wax. We use lead-free, cotton wicks, and high-quality premium fragrance oils that are Australian made. Candles are produced in small batches, and each candle is individually poured by hand.</p>
    </div>
</div>

{% endblock %}