{% extends "base.html" %}

{% block content %}

  <div class="container">
    
    <div class="card mb-3">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-text">{{ product.ingredients }}</p>
            <p class="card-text">${{ product.price }}</p>
          </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-12">
              <div class="image-container">
                <img src="{{ product.image1.url }}" class="card-img" alt="image" style="max-width: 20%; height: auto;">
                <img src="{{ product.image2.url }}" class="card-img" alt="image2" style="max-width: 20%; height: auto;">
                {% if product.image3.url != 'null' %}
                <img src="{{ product.image3.url }}" class="card-img" alt="image3" style="max-width: 20%; height: auto;">
                {% endif %}
              </div>
            </div>
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <p class="card-text">{{ product.description }}</p>
          </div>
        </div>
          <button class="text-black btn btn-primary" onclick="addToCart()">Add to Cart</button>
    </div>
    <!-- *YAAAAH S Kaam -->
    <div class="container">
      <form action="{% url 'submit_review' pk=product.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
          <label for="username">Your Name:</label>
          <input type="text" class="form-control" id="username" name="username" style="width: 30%;">
        </div>
        <div class="form-group">
          <label for="rating">Rating (from 1 to 5):</label>
          <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" style="width: 30%;">
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="comment" name="comment" rows="3" style="width: 30%;"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}